body, html {
  background-color:beige;
}

form {
  padding:45px;
  width: 13%;
  margin:5px;
  
   
}


button {
width:14%;
margin: 40px;

  

}

h1 {
  text-shadow: 1px 1px 1px;
  margin: 75px;
  
  
  
}

  
